body{
    background-color: blanchedalmond;
}

h1{
    text-align: center;
    color: rgb(175, 88, 18);
    font-size: 300%;
    font-family:"Lucida Console", "Courier New", monospace;
}

h2{
    text-align: center;
    color: rgb(94, 212, 20);
    font-size: 200%;
}


.squares{
    display: grid;
    margin: auto;
    width: 50%;
    height: 100%;
    /* border: 3px solid rgb(161, 212, 161); */
    grid-template-columns: auto auto auto auto;
    /* background-color: rgb(167, 206, 241); */
    padding: 2%;
    row-gap: 1%;
    column-gap: 2%;
}

.square{
    background-color: rgb(199, 221, 240);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 25%;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
  }

.square:active{
    background-color: aqua;
    color: white;
}

.blue{
    background-color: blue;
    transition: 0.5s ease-in=ease-out;
}
